<div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="card  ">
                    <div class="card-body ">
                        <div class="">
                        <h5 class="card-title">Категория - "{{id}}"</h5>
                        <div class="table-responsive">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th scope="col">О категории</th>
                                        <th scope="col">Количество объявлений</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{cdatabase}}</td>
                                        <td>{{countadv}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>      
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Все объявления данной категории</h5>
                    <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar" *ngIf="countadv != 0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Категория</th>
                                    <th scope="col">Название</th>
                                    <th scope="col">Цена</th>
                                    <th scope="col">Дата публикации</th>
                                    <th scope="col">Действие</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let i of objectKeys(this.adverts)">
                                    <td>{{this.adverts[i]['category']}}</td>
                                    <td>{{this.adverts[i]['name']}}</td>
                                    <td>{{this.adverts[i]['price']}}₽</td>
                                    <td>{{this.adverts[i]['date']}}</td>
                                    <td><a href="./advert/{{i}}" class="badge badge-success">Открыть</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p *ngIf="countadv == 0">Нет объявлений в данной категории</p>      
                </div>
            </div>
        </div>
    </div>

</div>