<div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="card  ">
                    <div class="card-body ">
                        <div class="">
                        <h5 class="card-title">Категория - "{{id}}"</h5>
                        <div class="table-responsive">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th scope="col">О категории</th>
                                        <th scope="col">Количество объявлений</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{cdatabase}}</td>
                                        <td>365</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>      
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Все объявления данной категории</h5>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Категория</th>
                                    <th scope="col">Название</th>
                                    <th scope="col">Цена</th>
                                    <th scope="col">Дата публикации</th>
                                    <th scope="col">Действие</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>0776</td>
                                    <td>Sale Management</td>
                                    <td>$18, 560</td>
                                    <td>$18, 560</td>
                                    <td><span class="badge badge-success">Finished</span></td>
                                </tr>
                                <tr>
                                    <td>0759</td>
                                    <td>Dropbox</td>
                                    <td>$40, 672</td>
                                    <td>$18, 560</td>
                                    <td><span class="badge badge-warning">Waiting</span></td>
                                </tr>
                                <tr>
                                    <td>0741</td>
                                    <td>Social Media</td>
                                    <td>$13, 378</td>
                                    <td>$18, 560</td>
                                    <td><span class="badge badge-info">In Progress</span></td>
                                </tr>
                                <tr>
                                    <td>0740</td>
                                    <td>Envato Market</td>
                                    <td>$17, 456</td>
                                    <td>$18, 560</td>
                                    <td><span class="badge badge-info">In Progress</span></td>
                                </tr>
                                <tr>
                                    <td>0735</td>
                                    <td>Graphic Design</td>
                                    <td>$29, 999</td>
                                    <td>$18, 560</td>
                                    <td><span class="badge badge-secondary">Canceled</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>      
                </div>
            </div>
        </div>
    </div>

</div>