

<div class="container">

  <div class="row no-print ">
    <div class="col-md-8">
        <div class="card  text-black">
            <div class="card-body">
                <div class="dashboard-info row">
                    <div class="info-text col-md-6">
                        <h5 class="card-title">Последние новости!</h5>
                    </div>
                    <div *ngFor="let i of objectKeys(this.anyAlerts)">
                      <alert [type]="this.anyAlerts[i].type">{{ this.anyAlerts[i].msg }}</alert>
                   </div>       
                </div>
            </div>
        </div>
    </div>      
    <div class="col-md-4">
        <div class="card">
            <div class="card-body" *ngIf="auth.user | async as user; else showLogin">
                        <h5 class="card-title">Добро пожаловать, {{name}}</h5>
                        <li>Ваше имя: {{name}} </li>
                        <li>Ваш E-Mail: {{email}}</li>
                        <li>Ваш телефон: {{number}}</li>
                        <li>Ваш статус: {{rolename}}</li>
            </div>

            <ng-template #showLogin>
              <div class="card-body">
                <h5 class="card-title">Добро пожаловать!</h5>
                <li>Вы находитесь режиме гостя. </li>
                <li>Ваш доступен просмотр объявлений.</li>
                <li>Для создания объявлений, войдите.</li>
                <li>Либо зарегестрируйтесь.</li>
                <a class="btn btn-success m-t-xs" routerLink="/auth">Войти или зарегестрироваться</a>
             </div>
            </ng-template>

        </div>
    </div>                      
</div>


    <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Категории объявлений</h5>
                  <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
                      <table class="table">
                          <thead>
                              <tr>
                                  <th scope="col">Название</th>
                                  <th scope="col">Действие</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let i of objectKeys(this.cdatabase)">
                                  <td>{{i}}</td>
                                  <td><a class="badge badge-info" href="/category/{{i}}">Открыть</a></td>
                              </tr>
                          </tbody>
                      </table>
                  </div>      
              </div>
          </div>
      </div>
  </div>
      <!-- Далее идет блок с расписанием -->
      <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Все объявления на сайте</h5>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Категория</th>
                                    <th scope="col">Название</th>
                                    <th scope="col">Цена</th>
                                    <th scope="col">Дата публикации</th>
                                    <th scope="col">Действие</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let i of objectKeys(this.alladverts)">
                                    <td>{{this.alladverts[i]['category']}}</td>
                                    <td>{{this.alladverts[i]['name']}}</td>
                                    <td>{{this.alladverts[i]['price']}}₽</td>
                                    <td>{{this.alladverts[i]['date']}}</td>
                                    <td><a href="./advert/{{i}}" class="badge badge-success">Открыть</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>      
                </div>
            </div>
        </div>
    </div>
          
  </div> 
    <ng-template #errorpage>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Ошибка!</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="ModalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      Допущена ошибка при вводе, либо ничего не введено.
      Попробуйте еще раз.
    
      </div>
    </ng-template>
    
