
<!-- <ngx-spinner bdColor = "rgba(0,0,0,0.7)" size = "medium" color = "#ffb200" type = "pacman" [fullScreen] = "true"><p style="color: white" > Загрузка данных... </p></ngx-spinner> -->


<div class=" container no-print justify-content-center">
    <h5>Новости сайта</h5>
    <div *ngFor="let i of objectKeys(this.anyAlerts)">
       <alert [type]="this.anyAlerts[i].type">{{ this.anyAlerts[i].msg }}</alert>
    </div>
    </div>
    
    <!-- <div class="no-print justify-content-center">
        <h5>Поиск объявления по названию</h5>
        </div>
    <div class="row justify-content-center align-self-center no-print"
    >
      <form class="enterclass" (submit)="openRasp()">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Введите текст..." [typeahead]="this.classes"
            [(ngModel)]="num" name="num" value=" ">
        </div>
        <button class="btn btn-success"  (click)="openError(errorpage)">Открыть</button>
    
      </form>
    </div> -->
    
    
    <ng-template #errorpage>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Ошибка!</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="ModalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      Допущена ошибка при вводе, либо ничего не введено.
      Попробуйте еще раз.
    
      </div>
    </ng-template>
    
    
    
    
    <h5 class="container" style="margin-right: 35px; margin-left: 25px; margin-top:50px">Категории объявлений</h5>
    <div class="main"> 
       
    
        <div class="container-fluid" style="margin-top: 10px;">
          <div class="row item_list">
    
            <div class="item">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>Категория</th>
                    <th>Действие</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Электроприбор</th>
                    <td><a href="http://vk.com/">Открыть</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            
          </div>

      <!-- Далее идет блок с расписанием -->
      <h5 style="margin-top: 70px; margin-right: 25px; margin-left: 25px;" >Объявления категории {{this.localst}}"</h5>
      <div class="container-fluid">
        <div class="row item_list">
    
    
          <div class="item" *ngFor="let days of objectKeys(this.classShedule)">
    
            <table class="table table-sm">
              <thead>
                <td colspan="4" class="table-success">Электрообогреватель XIAOMI</td>
                <tr>
                  <th>Категория</th>
                  <th>Стоимость</th>
                  <th>Дата публикации</th>
                  <th>Действие</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Электроприбор</th>
                  <td>3000 ₽</td>
                  <td>25/05/2020</td>
                  <td> <a href="http://vk.com/">Открыть</a></td>
                </tr>
              </tbody>
            </table>




          </div>
        </div>
      </div>
    </div>
    

    