<!-- Шапка -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
  <a class="navbar-brand">
    <img src="../assets/logo.png"
      width="35" height="30" class="d-inline-block align-top" alt="">
    BazarPNZ.
  </a>

  <div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-basic" style="margin-right: 15px;">
            Объявления <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" 
        role="menu" aria-labelledby="button-basic" style="margin-right: 20px;">
      <li role="menuitem"><a class="dropdown-item" href="/">Главная страница</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" href="/auth">Личный кабинет</a>
      <li role="menuitem"><a class="dropdown-item" href="/auth">Панель управления</a>
      </li>
    </ul>
  </div>

</nav> -->

<div class="lime-header">
  <nav class="navbar navbar-expand-lg">

      <a class="navbar-brand" href="#">BazarPNZ</a>
      <span dropdown>
      <button class="navbar-toggler" type="button" id="basic-link" dropdownToggle data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="material-icons">keyboard_arrow_down</i>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
        <li><a class="dropdown-item" href="#">Главная страница</a></li>
        <li><a class="dropdown-item" href="./lk">Личный кабинет</a></li>
        <li class="divider"></li>
        <li><a class="dropdown-item" href="#">Выйти из аккаунта</a></li>

    </ul>
    </span>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="form-inline my-2 my-lg-0 search">
              <input class="form-control mr-sm-2" type="search" placeholder="Поиск по названиям объявлений..." aria-label="Search">
          </form>
          <ul class="navbar-nav ml-auto" >
              <li class="nav-item dropdown" dropdown>
                  <a class="nav-link dropdown-toggle" href="#" dropdownToggle role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="material-icons">more_vert</i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                      <li><a class="dropdown-item" href="#">Главная страница</a></li>
                      <li><a class="dropdown-item" href="./lk">Личный кабинет</a></li>
                      <li class="divider"></li>
                      <li><a class="dropdown-item" href="#">Выйти из аккаунта</a></li>

                  </ul>
              </li>
          </ul>
      </div>
  </nav>
</div>

<!-- Блоки -->
<router-outlet></router-outlet>

<!-- Подвал -->
<!-- <footer class="no-print">
  <div class="mini-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-text">
            <p>© 2020
              Школа 68 г. Пензы, Пензенской области.
             <br></p>
             <div *ngIf="auth.user | async as user; else showLogin">
               <button class="btn btn-success" routerLink = "/setup" routerLinkActive="active-link" style="margin-right: 5px;" >Войти в редактор</button>
               <button class="btn btn-warning" (click)="onLogout()" >Выход из аккаунта</button>
              </div>
             
             <ng-template #showLogin>
              <a routerLink="/auth" routerLinkActive="active" >Авторизация</a>
            </ng-template>
            <p class="font-weight-light">Версия 2.0</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> -->