        <div class="lime-container">
            <div class="lime-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card bg-info text-white">
                                <div class="card-body">
                                    <div class="dashboard-info row">
                                        <div class="info-text col-md-6">
                                            <h5 class="card-title">Добро пожаловать, {{name}}!</h5>
                                            <p>В личном кабинете вы можете добавить новое объявление.</p>
                                            <ul>
                                                <li>Придумайте интересное объявление</li>
                                                <li>Оцените его стоимость адекватно</li>
                                                <li>Напишите объявление</li>
                                            </ul>
                                            <a href="#" class="btn btn-warning m-t-xs" (click)="openModal(newadvert)" onclick="return false;">Создать объявление</a>
                                        </div>
                                        <div class="info-image col-md-6"></div>
                                    </div>
                                </div>
                            </div>
                        </div>      
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="">
                                        <div class="">
                                            <h5 class="card-title">Ваш аккаунт</h5>
                                            <li>Ваше имя: {{name}} </li>
                                            <li>Ваш E-Mail: {{email}}</li>
                                            <li>Ваш телефон: {{number}}</li>
                                            <li>Ваш статус: {{rolename}}</li>
                                            <a href="#" class="btn btn-warning m-t-xs" style="margin-right: 10px;" (click)="openModal(changedata)" onclick="return false;">Изменить данные</a>
                                            <a href="#" class="btn btn-warning m-t-xs" (click)="openModal(forgetpass)" onclick="return false;" >Сменить пароль</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                      
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Ваши объявления</h5>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Категория</th>
                                                    <th scope="col">Название</th>
                                                    <th scope="col">Цена</th>
                                                    <th scope="col">Дата публикации</th>
                                                    <th scope="col">Действие</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let i of objectKeys(this.myadverts)">
                                                    <td>{{this.myadverts[i]['category']}}</td>
                                                    <td>{{this.myadverts[i]['name']}}</td>
                                                    <td>{{this.myadverts[i]['price']}}₽</td>
                                                    <td>{{this.myadverts[i]['date']}}</td>
                                                    <td><a href="./advert/{{i}}" class="badge badge-success">Открыть</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>      
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <ng-template #forgetpass>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Восстановление пароля</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    
                <div class="card">
                    <article class="card-body">
                         <form (ngSubmit)="onRecovered(forgetemail)">
                        <div class="form-group">
                            <label>Введите вашу почту для начала операции</label>
                            <input name="forgetemail" class="form-control" placeholder="Email" type="email" [(ngModel)]="forgetemail">
                        </div> 
         
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Отправить  </button>
                        </div>                                                         
                    </form>
                    <alert type="danger" *ngIf="isrecovered==2">
                        <strong>О, нет!</strong> Кажется вы допустили ошибку при вводе данных.
                      </alert>
                
                      <alert type="success" *ngIf="isrecovered==1">
                        <strong>Отлично!</strong> Мы отправили вам на почту ссылку для смены пароля.
                      </alert>  
                    </article>
                
                    </div>
                
                
                </div>
            </div>
          </ng-template>
        
          <ng-template #changedata>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Изменение данных</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    
                <div class="card">
                    <article class="card-body">
                         <form (ngSubmit)="onChangeData(thisname,thisnumber)">
                        <div class="form-group">
                            <label>Имя</label>
                            <input name="" class="form-control" placeholder="Имя" type="text" [(ngModel)]="thisname"  [ngModelOptions]="{standalone: true}">
                        </div> 
                        <div class="form-group">
                            <label>Номер телефона</label>
                            <input name="" class="form-control"[textMask]="{mask: mask}" placeholder="+7 (   ) - " type="text" [(ngModel)]="thisnumber"  [ngModelOptions]="{standalone: true}">
                        </div> 
         
                        <div class="form-group"> 
                        </div> 
                        <div class="form-group">
                            <button type="accept" class="btn btn-primary btn-block"> Сохранить  </button>
                        </div>                                                         
                    </form>
                    <alert type="danger" *ngIf="ischanged==2">
                        <strong>О, нет!</strong> Кажется вы допустили ошибку при вводе данных.
                      </alert>
                
                      <alert type="success" *ngIf="ischanged==1">
                        <strong>Отлично!</strong> Мы сохранили ваши данные.
                      </alert>  
                    </article>
                
                    </div>
                
                
                </div>
            </div>
          </ng-template>
        
          <ng-template #newadvert>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Добавить объявление</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    
                <div class="card">
                    <article class="card-body">
                         <form (ngSubmit)="onNewAdvert(category,newadvertname,place,price,additional)">
                        <div class="form-group">
                            <label>Ваше имя</label>
                            <input name="" class="form-control" placeholder="Имя" type="text" [(ngModel)]="name"  [ngModelOptions]="{standalone: true}" disabled>
                        </div> 
                        <div class="form-group">
                            <label>Ваш номер телефона</label>
                            <input name="" class="form-control"[textMask]="{mask: mask}" placeholder="+7 (   ) - " type="text" [(ngModel)]="number"  [ngModelOptions]="{standalone: true}" disabled>
                        </div> 
                        <div class="form-group">
                            <label>Название объявления</label>
                            <input name="" class="form-control" placeholder="Введите название..." type="text" [(ngModel)]="newadvertname"  [ngModelOptions]="{standalone: true}" >
                        </div>  
                        <div class="form-group">
                            <label>Цена (в рублях)</label>
                            <input name="" class="form-control" placeholder="Введите цену.." type="number" [(ngModel)]="price"  [ngModelOptions]="{standalone: true}" >
                        </div>
                        <div class="form-group">
                            <label>Категория</label>
                            <input name="" class="form-control" [typeahead]="this.categories" placeholder="Выберите категорию, начиная вводить" type="text" [(ngModel)]="category"  [ngModelOptions]="{standalone: true}" >
                        </div> 
                        <div class="form-group">
                            <label>Район</label>
                            <input name="" class="form-control" placeholder="Введите район продажи..." type="text" [(ngModel)]="place"  [ngModelOptions]="{standalone: true}" >
                        </div> 
                        <div class="form-group">
                            <label>Подробности</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="additional" [ngModelOptions]="{standalone: true}"></textarea>
                        </div>                

                        <div class="form-group">
                            <button class="btn btn-primary btn-block"> Отправить  </button>
                        </div>                                                         
                    </form>
                    <alert type="danger" *ngIf="isnewadvert==2">
                        <strong>О, нет!</strong> Кажется вы допустили ошибку при вводе данных.
                      </alert>
                
                      <alert type="success" *ngIf="isnewadvert==1">
                        <strong>Отлично!</strong> Мы отправили ваше объявление на проверку.
                      </alert>  
                    </article>
                
                    </div>
                
                
                </div>
            </div>
          </ng-template>
        